* {
  outline: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #ffffff;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

body {
  background-image: url('../assets/background.png');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 1.3rem;
  margin: 0;
  height: 100vh;
}

label {
  color: var(--text-accent-color);
}

dialog {
  border: 0;
}

.app {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: var(--bg-main-color);
  border-bottom: 2px solid var(--accent-color);
  text-align: center;
}

.banner__title {
  color: var(--accent-color);
  margin: 20px;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-btn {
  padding: 1em 3em;
  margin: 0.1em 0.2em;
  user-select: none;
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.document {
  height: 100%;
  background-color: var(--document-bg-color);
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

.footer {
  background-color: var(--bg-main-color);
  color: var(--accent-color);
  border-top: 2px solid var(--accent-color);
  text-align: center;
}

/* Component Style */

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 25em;
  height: 7em;
  background: var(--bg-accent-color);
  background: var(--component-bg-gradient);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px var(--shadow-color);
}

.dialog__close-container {
  display: flex;
  justify-content: end;
}

.dialog__close {
  width: 5%;
  padding: 0.4em;
  border: none;
  border-radius: 5px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  width: 100%;
}
#title {
  width: 100%;
}

.contents {
  display: flex;
  width: 100%;
}

#contents {
  width: 100%;
}
